.top-container{
  background-color: #14274e;
  position: relative;
  padding-top: 100px;

}
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{

  color: white;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 90px;
}
h2{
  font-family: 'Montserrat', sans-serif;
  color: #61b15a;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
  padding-bottom: 10PX;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #61b15a;
}
.middle-container{
  margin: 100px 0;

}
.bottom-container{
  background-color: black;
  padding: 50px 0 20px;

}
.pro{
  text-decoration: underline;
}
.intro{
  width: 30%;
  margin: auto;
}
p{
  color: white;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 50pxpx;
}
.top-cloud{
  position: absolute;
  top: 50px;
  right: 300px;
}
.mountain{
  height: 50%;
  width: 50%;
}
.footer-link{
  color: #d35d6e;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.pro-gram{
  width: 30%;
  float: left;
  margin-right: 70px;
}
.sk-etch{
   width: 30%;
   float: right;
   margin-left: 70px;
}
p{
  line-height: 2;
}
hr{
  border: dotted white 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.con-tact{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  background: #f2135a;
  background-image: -webkit-linear-gradient(top, #f2135a, #243169);
  background-image: -moz-linear-gradient(top, #f2135a, #243169);
  background-image: -ms-linear-gradient(top, #f2135a, #243169);
  background-image: -o-linear-gradient(top, #f2135a, #243169);
  background-image: linear-gradient(to bottom, #f2135a, #243169);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}


.btn:hover {
  background: #2db51b;
  background-image: -webkit-linear-gradient(top, #2db51b, #3498db);
  background-image: -moz-linear-gradient(top, #2db51b, #3498db);
  background-image: -ms-linear-gradient(top, #2db51b, #3498db);
  background-image: -o-linear-gradient(top, #2db51b, #3498db);
  background-image: linear-gradient(to bottom, #2db51b, #3498db);
  text-decoration: none;
}
a{
  color:#d35d6e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;

}
a:hover{
  color: white;
}
.copyright{
  font-size: 0.75rem;
  padding: 20px 0;
}
